body {
  background-color: lightseagreen;
  text-align: center;
  margin: 50px auto;
  width: 1000px;
}

#editor, #preview {
  height: 675px;
  width: 500px;
  margin: 20px;
}

#preview {
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
